<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'controller/main.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Didact Gothic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	
        <title>Elliot Control Interface</title>
	
	
	
    </head>
    <body style="height: 1000px;">
		<div id="dh"> </div>
		<div id="keys"></div>

		<div id="logs"></div>

		<div id="hidden" style="display: none;"></div>
		<h1><a>CarPark</a></h1>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
		

		<script type='text/javascript' src="{% static 'controller/keys.js' %}"></script>

		<script type="text/javascript">
			var timeout_ms = 500; 
			var lastCallDate = 0;  

			function fetchAlert()
			{
		 		var now = Date.now();
				if( lastCallDate + timeout_ms < now ) {
					lastCallDate = now; 
					$('#dh').load("alert");
				}
			};


			var tid = setInterval(fetchAlert, 500);
		</script>

	</body>
</html>
