

<div id="keys">
</div>

<div id="logs">

</div>

<div id="hidden" style="display: none;">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script>
	function Key(id, type, text) {
		this.id = id;
		this.type = type;
		this.text = text;
		this.state = false;

		this.btn = document.createElement("BUTTON");
		this.btn.id = this.id;

		this.onMouseDown = function () {
			$('#hidden').load("event?type=" + type + "&trig=down");
		};

		this.onMouseUp = function () {
			$('#hidden').load("event?type=" + type + "&trig=up");	
		};

		this.btn.onmousedown = this.onMouseDown; 
		this.btn.onmouseup = this.onMouseUp; 

		this.btn.appendChild(document.createTextNode(this.text)); 

		keys.appendChild(this.btn); 
	}

	var buttonUp = new Key("up", "up", "\u25b2"); 
	var buttonDown = new Key("down", "down", "\u25bc"); 
	var buttonLeft = new Key("left", "left", "\u25c0");
	var buttonRight = new Key("right", "right", "\u25b6"); 
	var buttonStop = new Key("stop", "stop", "\u25cf");

	$(document).keydown(function(e) {
		switch(e.which) {
			case 32: 
				window.buttonStop.onMouseDown(); 
			break;

		    case 37: // left	
		    	window.buttonLeft.onMouseDown();
		    break;

		    case 38: // up
		    	window.buttonUp.onMouseDown(); 
		    break;

		    case 39: // right
		    	window.buttonRight.onMouseDown(); 
		    break;

		    case 40: // down
		    	window.buttonDown.onMouseDown(); 
		    break;

		    default: return; // exit this handler for other keys
		}
		e.preventDefault(); // prevent the default action (scroll / move caret)
	});	

	$(document).keyup(function(e) {
		switch(e.which) {
			case 32: 
				window.buttonStop.onMouseUp(); 
			break;

		    case 37: // left	
		    	window.buttonLeft.onMouseUp();
		    break;

		    case 38: // up
		    	window.buttonUp.onMouseUp(); 
		    break;

		    case 39: // right
		    	window.buttonRight.onMouseUp(); 
		    break;

		    case 40: // down
		    	window.buttonDown.onMouseUp(); 
		    break;

		    default: return; // exit this handler for other keys
		}
		e.preventDefault(); // prevent the default action (scroll / move caret)
	});	
</script>