body
{
	display: flex;
	flex-wrap: wrap;
}

#keys
{
	width: 400px;
	height: 400px;
	position: absolute;
}

button
{
	position: absolute;
	height: 80px; 
	width: 80px; 
	font-family:'Didact Gothic';
}

#up
{
	top: 100px;
	left: 140px;
	height: 40px; 
	width: 40px; 
}

#stop
{
	top: 140px; 
	left: 140px; 
	height: 40px; 
	width: 40px; 
}

#down
{
	top: 180px;
	left: 140px; 
	height: 40px; 
	width: 40px; 
}

#left
{
	left: 100px;
	top: 140px; 
	height: 40px; 
	width: 40px; 
}

#right
{
	left: 180px;
	top: 140px;
	height: 40px; 
	width: 40px; 
}

#yesPark
{
	top: 230px;
	left: 60px;
 
}
#noPark
{
	top: 230px;
	left: 180px;
}

#autonomous
{
	top: 320px;
	left: 25px;
	width: 115px;
}
#manual
{
	top: 320px;
	left: 180px;
}

h1 a {
    left: 100px;
    top: 20px;
    color: #FCA205;
    font-family: 'Lobster';
    position: absolute
    
}

h3 b {
	
	top: 415px;
	color: #6dc066;
	font-family:'Montserrat';
	position: absolute
}

p c {
	
	top: 420px;
        left: 20px;
	font-family:'Montserrat';
	position: absolute
}

