body
{
	display: flex;
	flex-wrap: wrap;
}

#keys
{
	width: 400px;
	height: 400px;
	position: relative;
}

button
{
	position: absolute;
	height: 80px; 
	width: 80px; 
	font-family:'Didact Gothic';

}

#up
{
	top: 100px;
	left: 240px;
	height: 40px; 
	width: 40px; 
}

#stop
{
	top: 140px; 
	left: 240px; 
	height: 40px; 
	width: 40px; 
}

#down
{
	top: 180px;
	left: 240px; 
	height: 40px; 
	width: 40px; 
}

#left
{
	left: 200px;
	top: 140px; 
	height: 40px; 
	width: 40px; 
}

#right
{
	left: 280px;
	top: 140px;
	height: 40px; 
	width: 40px; 
}

#yesPark
{
	top: 230px;
	left: 100px;
 
}
#noPark
{
	top: 230px;
	left: 220px;
}

#autonomous
{
	top: 320px;
	left: 100px;
	width: 115px;
}
#manual
{
	top: 320px;
	left: 220px;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

h3 b {
	top: 100px;
	color: #6dc066;
	font-family:'Montserrat';
}

p c {
	font-family:'Montserrat';
}

