body
{
	display: flex;
	flex-wrap: wrap;
}

#keys
{
	width: 400px;
	height: 400px;
	position: relative;
}

button
{
	position: absolute;
	height: 80px; 
	width: 80px; 

}

#up
{
	top: 100px;
	left: 140px;
	height: 40px; 
	width: 40px; 
}

#stop
{
	top: 140px; 
	left: 140px; 
	height: 40px; 
	width: 40px; 
}

#down
{
	top: 180px;
	left: 140px; 
	height: 40px; 
	width: 40px; 
}

#left
{
	left: 100px;
	top: 140px; 
	height: 40px; 
	width: 40px; 
}

#right
{
	left: 180px;
	top: 140px;
	height: 40px; 
	width: 40px; 
}

#yesPark
{
	top: 230px;
	left: 0px;
 
}
#noPark
{
	top: 230px;
	left: 120px;
}

#autonomous
{
	top: 320px;
	left: 0px;
	width: 115px;
}
#manual
{
	top: 320px;
	left: 120px;
}
